$bg-mobile: url('../assets/home/background-home-mobile.jpg');
$bg-tablet: url('../assets/home/background-home-tablet.jpg');
$bg-desktop: url('../assets/home/background-home-desktop.jpg');

:root {
  --bg-image: #{$bg-mobile};
}

main {
  min-height: 100vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  :root {
    --bg-image: #{$bg-tablet};
  }
}

@media (min-width: 1024px) {
  :root {
    --bg-image: #{$bg-desktop};
  }
}

.background {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.hero{
  margin:136px;
  border:2px solid white;
  padding:100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
